@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

:root {
    --purple: #6c63ff;
    --purple-light: #d7d4ff;
    --white: #ffffff;
    --white-200: #f9f9f9;
    --gray: #555555;
    --gray-dark: #2a2a2a;

    --font-merriweather: 'Merriweather', serif;
    --font-lato: 'Lato', sans-serif;
}

body {
    background-color: var(--white-200);
}